body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #file-list {
    margin-bottom: 30px;
  }
  
  #file-list-items {
    list-style-type: none;
  }
  
  #file-content {
    margin-bottom: 30px;
  }
  
  #file-content-html {
    white-space: pre-wrap;
  }
  
  #file-creation input,
  #file-creation textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  